<div class="fora">
  <div class="footer">
    <nav>
      <a href="">atendimento 4003-4848</a>
      <a href="">canal de vendas</a>
      <a href="">cartão americanas</a>
      <a href="">ame digital</a>
      <a href="">guia de segurança</a>
      <a href="">para empresas</a>
      <a href="">B2WADS</a>
      <a href="">entregas e devoluções</a>
    </nav>
    <footer>
      <div class="container">
        <a [routerLink]="['']">
          <img
          width="250px"
          height="auto"
          src="../../../assets/logo.png"
          alt=""
        />
        </a>
        <span>Tudo. A toda hora. Em qualquer lugar.
          americanas s.a. / CNPJ: 00.776.574/00</span>
      </div>
    </footer>
  </div>
</div>
