<header>
  <div class="hd-cont topheader">
    <img width="120px" height="auto"src="../../../assets/unnamed.png" alt="">
    <app-usuario></app-usuario>
  </div>
  <nav class="hd-cont topheader">
    <a href="">Lançamentos</a>
    <a href="">Promoções</a>
    <a href="">Indicado para você</a>
    <a href="">Proximos Lançamentos</a>
    <a href="">Mercado</a>
    <a href="">Eletrodomésticos</a>
    <a href="">Celulares</a>
    <a href="">Móveis e Decoração</a>
    <a href="">Brinquedos</a>
  </nav>
</header>
